body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.sidebar {
    height: 100vh;
    background-color: #1e1e1e; /* Slightly lighter dark background for sidebar */
    color: #ffffff; /* White text for sidebar */
}

.sidebar a {
    color: #adb5bd; /* Light gray for links */
    text-decoration: none;
}

.sidebar a:hover {
    color: #ffffff; /* White on hover */
    text-decoration: none;
}

.task-list {
    margin-top: 20px;
}

.task-item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #2e2e2e; /* Darker background for tasks */
    color: #ffffff; /* White text for task items */
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

.task-priority-high {
    border-left: 5px solid #dc3545; /* Red border for high priority */
}

.task-priority-medium {
    border-left: 5px solid #ffc107; /* Yellow border for medium priority */
}

.task-priority-low {
    border-left: 5px solid #28a745; /* Green border for low priority */
}

.breadcrumb {
    background-color: #121212; /* Match breadcrumb background to task items */
}

.breadcrumb-item.active {
    color: #ffffff; /* Active breadcrumb item in white */
}

#taskDetailsContainer {
    display: none;
    background-color: #1e1e1e; /* Match the sidebar for consistency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*
input[type="text"], input[type="text"]:focus, textarea, select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}
*/
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #303f9f;
}

/* Common styles for all inputs */
input[type="text"], 
input[type="date"],
input[type="time"],
textarea, 
select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Full width for regular inputs */
input[type="text"],
textarea,
select {
    width: 100%;
}

.field-container {
    margin-bottom: 15px;
}

.field-container label {
    display: block;
    margin-bottom: 5px;
}

.date-time-container {
    display: flex;
    justify-content: space-between;
}

input[type="date"],
input[type="time"] {
    width: 48%; /* Adjust as needed */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Style the calendar and time picker icons */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

/* Style for the checkbox container */
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #2e2e2e;
    border: 1px solid #333;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #3e3e3e;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Style for the label text */
.custom-checkbox-label {
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    padding: 10px 0;
    margin: 5px 0;
}


.nav-link {
    display: flex;
    align-items: center;
}

.badge {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 0.8em;
}